.container {
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    font-family: 'ABeeZee';
    font-size: 30px;
    color:rgb(235, 239, 243);
    border-bottom-style: solid;
    line-height: 60px;
}

.about-section {
    color: rgb(235, 239, 243);
    font-family: 'ABeeZee';
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.bibliography {
    color: rgb(235, 239, 243);
    font-family: 'ABeeZee';
    font-size: 15px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

html {
    background-color: rgb(6, 14, 20);
}